body {

    margin: 0;
    height: 100vh;
    background-color: rgb(206, 180, 180);
    overflow: hidden;
}

span {
    background: url("balloon.png");
    pointer-events: none;
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}

@keyframes animate {

    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0deg);
    }

    100% {
        transform: translate(-50%, -4000%);
        opacity: 0;
        filter: hue-rotate(360deg);
    }
}